body {
  background: linear-gradient(176.22deg, #000000 0%, rgba(46, 46, 46, 0.8) 100%);
}

a {
  text-decoration: none;
}

h1 {
  color: #6BBCEE;
  text-align: center;
}

h2,
h2 {
  color: #EC1D88;
  text-align: center;
}

figure {
  color: yellow;
  text-align: center;
}

img {
  border-radius: 10px;
}

button {
  background-color: #EC1D88;
  color: #6BBCEE;
  border: 5px;
  border-radius: 20px;
  padding: 5px;
  width: 130px;
  margin-left: 5px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.flex2 {
  display: flex;
  justify-content: space-between;
}